extends ../layouts/skeleton.pug

block content
	.container
		section#masthead
			h1
				a(href='/') Felix Wutschke
		section#aboutme
			p This year I intend to publish notes on 2 books per month.. let's see if I keep up!
		section#content
			