extends ../layouts/skeleton.pug

block content
	.container
		section#masthead
			h1
				a(href='/') Felix Wutschke
		section#aboutme
			p I publish detailed notes on books as I read them.
		section#content
			