extends ../layouts/skeleton

		
block content
	.container
		section#masthead
			h1
				a(href='/') Felix Wutschke
		section#contactme
			h1#hello Contact hello@wutschkef.com
			p I love hearing from people, so please email me at <a href='mailto:hello@wutschkef.com'>hello@wutschkef.com</a> and <strong> introduce yourself.</strong>
			p Why? For two reasons:
			ol
				li I love getting to know people around the world. So whatever you have on your mind, let me know about it.
				li Because we can learn from each other. If you want my opinion on something you are working on, just ask.
			p <strong> I reply to all.</strong>
