extends ../layouts/skeleton.pug

block content
	.container
		section#masthead
			h1
				a(href='/') I'm coming home baby &#9825
			p#timer
			img#baby(src='/images/baby.jpg')
			p Look how quickly the seconds melt away.. I will be back soon my angel. I miss you more than anything in this world. Bookmark this link and have a look at it whenever you miss me too much. I hold you tight. See you soon in Paris &#9825
			

	
