extends ../layouts/skeleton.pug

block content
	.container
		section#masthead
			h1
				a(href='/') Felix Wutschke
		section#aboutme
			p I am <strong>looking for internships in artificial intelligence and machine learning</strong>. I have a strong maths background, self-study ML (currently on Stanford CS229) and I can code. If you can use my help and in return help me improve my skills, <a href='mailto:felix@wutschkef.com'>we should talk.</a> Location doesn't matter, I like to travel.
		section#content
			h2 Freelance Web Development
			p I do full-stack web applications in Ruby on Rails and a bunch of JavaScript frameworks. 
			p I also do quick websites for your business and landing pages for startups. 
			p <a href='mailto:felix@wutschkef.com'><strong>Contact me anytime</strong></a>, if you want to discuss a project.