extends ../layouts/skeleton.pug

block content
	.container#home
		section#masthead
			h1 
				a(href='/') Felix Wutschke
		section#aboutme
			p I'm a programmer with a passion for life; love to create, to experience, to ponder.
			h2#top Me in ten seconds
			p I live in Fremont, California; attending <a href='https://42.us.org'>42</a>; deeply interested in pragmatic AI; love stoic philosophy; love to read and write.
			h2 What am I doing now?
			p See <a href='/now'>my 'now' page</a>
			h2 Contact me?
			p See <a href='/contact'>why you should</a>, then <a href='/contact'>just drop me a line.</a> I respond to all.
		section#newstarticles
			h2 Newest Articles
				small(id='home-all')
					a(href='/blog')   	see all
			ul
				li
					a(href='#') Pleasure is the greatest incentive to evil
				li
					a(href='#') Pleasure is the greatest incentive to evil
				li
					a(href='#') Pleasure is the greatest incentive to evil
				li
					a(href='#') Pleasure is the greatest incentive to evil
				li
					a(href='#') Pleasure is the greatest incentive to evil

		section#projects
			h2 Projects
			p I host some of my work over at <a href='/'>github</a>. Go check it out if you're interested.
			h3 At the moment
			p I am building a UNIX shell <strong>from scratch</strong> in C.


			