extends ../layouts/skeleton.pug

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2: a(href='/blog/post/' + post.slug)= post.title


block content
	.container#home
		section#masthead
			h1 
				a(href='/') Felix Wutschke
		section#aboutme
			p This website is simple on purpose.
			h2#top Me in ten seconds
			p I live in Fremont, California; I study programming at <a href='https://42.us.org'>42</a>, study machine learning on my own; I'm a fan of stoic philosophy; optimist; self-improvement proponent.
			h2 What am I doing now?
			p See <a href='/now'>my 'now' page</a>
			h2 Contact me?
			p See <a href='/contact'>why you should</a>, then <a href='/contact'>just drop me a line.</a> I respond to all.
		section#newstarticles
			h2 Newest Articles
				small(id='home-all')
					a(href='/blog')   	see all
			
			if newest_titles.length
				ul
					each nt in newest_titles
						li
							a(href='/blog/post/' + nt.slug)= nt.title

		section#projects
			h2 Projects
			dl
				dt
					a(href='/books') Book Notes
				dd  notes on some books I've read
				dt
					a(href='https://github.com/wutschkef42') GitHub
				dd for the technical folks
			h3 At the moment
			ol
				li I am building a UNIX shell <strong>from scratch</strong> in C. <a href='https://github.com/wutschkef42/42_42SH'>See here.</a>
				li I am taking <a href='http://cs229.stanford.edu/'>Stanford CS229: Machine Learning.</a> <a href='https://www.youtube.com/watch?v=UzxYlbK2c7E&list=PLA89DCFA6ADACE599'>Watch here.</a>
		section#image
			h2 Me <small>(click for big)</small>
			a(href='/images/profile.jpg')
				img#me(src='/images/profile.jpg', alt='Felix Wutschke', title='© 2018 Felix Wutschke')



			