extends ../layouts/skeleton.pug

block content
	.container
		section#masthead
			h1
				a(href='/') Felix Wutschke
		section#aboutme
			p I live in Fremont, California. Coding at 42 Silicon Valley. Studying AI. Improving my mind.
		section#content
			h2 Writing: 
			p My main focus: <strong>I am studying AI and completing my degree at 42 coding school this year. I also like to read and keep track of useful thoughts I take from my readings.</strong>
			ul
				li
					a(href='/') My thoughts on AI
				li
					a(href='/') Programming related stuff
				li
					a(href='/') Random thoughts
			p Writing regularly is a habit and I run this blog mainly to enforce consistent writing habits. If my writing is of use to you, I am glad to have helped you. Otherwise, consider that I keep these notes for myself and so they are designed to be useful to me.

			h2 Personal development:
			p Habit has such a strong bearing on behaviour that it seems fair to equate habit to destiny. Since habits define how we interact with external reality and our conciousness at large, it is critical to build the right habits early on in life. Unremarkably, I have grown up to be 26 years of age with a range of habitual defects that I intend to fix. In search of the good life, I dedicate this year to inversion. I look for the habits that hold me back the most and I try and fix them. That seems more fruitful than trying to pile a bunch of good habits over existing bad habits in the hope that they will cancel out. It's never a good idea to build a tall structure on a weak foundation. Hence, this year is dedicated to solidifying the foundation on which positive habits stick.


			h2 Being independent:
			p Life is short and we get only one shot to live right. I want to look back in old-age and be regret-free. Being free of regret is probably not possible, but minimizing regret seems like a good strategy to go with. Everyone gets a chance to steer their own ship, to make their own path and design their personal evolution. Just like genetic evolution in nature, we should design our personal evolution in tandem with the feedback loop reality provides us with. So roughly speaking, we want to define what we want from life and then measure different behaviours against the failures and successes they produce. When we notice patterns that lead to bad outcomes, we fix the patterns. Patterns that lead to positive outcomes, we encourage to push further. Since I am into machine learning right now, I like to think of this strategty as a 'data-driven' life - do more of what works, do less of what doesn't.
			p An overarching goal of my life is to be independent. Independent in thought, independent in the way I spend my time, independent on which people I share my life with, independent in location. To keep being independent, I will require financial resources that spare me from having to take a 9 to 5 job in the long-run. I don't mind working as an employee for a while, but I don't see myself being restrained to a corporate environment for the better part of my adult life.
			p So this is another key factor that I am currently figuring out - how to get financially independent. 
			p This update was June 5th, 2018.	