extends ../layouts/skeleton.pug

block content
	.container
		section#masthead
			h1
				a(href='/') Felix Wutschke
		section#aboutme
			p 2 weeks ago I moved from Paris to Fremont, California where I am finishing my studies. This year is dedicated to <i>improving my programming skills</i>, <i>studying machine learning</i> and <i>personal growth</i> in mind and body.
			small Written in June 2018
		section#content
			h2 Improving Programming Skills at 42
			p I got to school at <a href='https://42.us.org'>42</a>; an innovative peer-to-peer, non-profit progamming school with campuses in Paris and Silicon Valley. It was founded in 2013 by French telecom entrepreneur Xavier Niel. <strong>The goal to revolutionize computer science education.</strong>
			p The school operates without professors, lectures or exams. Students liberally work together on programming challenges that cover a broad range of topics and increase in difficulty over time.
			p My projects this year include rebuilding a range of UNIX components in C; shell, malloc, nm-tool among others. A few months are dedicateed to web projects; building a torrent-based streaming site, copying tinder and instagram among others. Then we get into advanced C++ and build more complex object-oriented projects. The last few months we choose to either work on an open source project or develop our own product. 
			h2 Machine Learning
			h3 Why should I care?
			p Machine learning is <strong>humanity's key to make sense of the information age.</strong> Software that learns from data opens up a whole world of opportunities from which society may draw value. It will penetrate all industries and our physical environment and hopefully lead to <strong>extensive automation and prosperity for all.</strong> 
			p You want an example? Let's assume we could write a fixed set of rules that we would use to make a software that drives cars. It would take millions of rules and thus millions of lines of code to cover all eventualities. Compare this to a machine learning approach. It would take maybe 10k lines - 3 orders of magnitude less code - to write. Those 10k lines are then fed terrabytes of data and learn how to drive a car from the experience the data reflects.
			p Three things to notice: a) the rule-based algorithm is impossible to write in reality. The ML approach thus solves a <strong>previously unsolvable problem</strong>. b) Developers write 10k lines instead of 10 million lines of code. c) The software <strong>frees up billions of 'human hours'</strong> people waste on driving their cars.
			p Neat. We get to solve problems we couldn't otherwise solve, we write far less code and we teach computers to learn (in a way).
			p I will write a more detailed explanation for why I want to move into this field in the future. For now, just know that the technology is awesome, <strong>the timing is perfect and the next decade provides an amazing playground for entrepreneurs!</strong>
			h2 Writing
			p Writing regularly is a habit and I run this blog mainly to enforce consistent writing habits. If my writing is of use to you, I am glad to have helped you. Otherwise, consider that I keep these notes for myself and so they are designed to be useful to me.


			p This update was June 5th, 2018.	